
$bg-color: #EEEEEE;
$text-color: Black;

h1 {
    display: inline;
}

.temp-tooltip {
    background-color: transparentize($bg-color, 0.3);
    padding: 3px;
}

.sym-elem {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
}

.sym-elem-btn {
    margin-left: 3px;
}

.input-sym {
    margin-top: 5px;
}

.span-elem {
    margin-left: 15px;

}

.price-type-elem {
    display: inline;
}

.time-span-elem {
    display: inline;
}

ul.footer-links {
    padding-left: 0px;
}

.footer-link-icon {
    display: inline-block;
    margin-right: 10px;

    i {
        color: $text-color;
    }
}
